.App {
  display: flex;
  text-align: center;
  align-content: center;
}

.Add {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border: 5px solid red;
  width: 450px;
  height: 600px;
}

.inputElements {
  border: 5px solid black;
  width: 440px;
  height: 100px;
}

.inputImageDisplay {
  border: 5px solid black;
  width: 350px;
  height: 200px;
}